.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.message {
    margin: 0px auto;
}
body{
    background-image: url(friendbkgrnd.png);
    background-size: cover;

}