.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.inline-parent{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#messages{
    padding: 25px 50px;
}

#message{
    width: 80%;
}
#messageHolder{
    background-color: aliceblue;
    height: 100%;
}

body{
    background-image: url(friendbkgrnd.png);
    background-size: cover;

}